.container	
	%h1 Home#index
	%p Find me in app/views/home/index.html.haml
	.row
		.col-md-6
			= "col-md-6"
		.col-md-6
			= "col-md-6"
	.row
		.col-md-12
			= "col-md-12"	
	%h2 Icons			
	.row
		.col-md-3
			= ".bi.bi-alarm : "
			%i.bi.bi-alarm
		.col-md-3
			= ".bi.bi-check-square : "
			%i.bi.bi-check-square
		.col-md-3
			= ".bi.bi-plus : "
			%i.bi.bi-plus
		.col-md-3
			= ".bi.bi-pencil-fill : "
			%i.bi.bi-pencil-fill
	.row
		.col-md-3
			= ".bi.bi-file-earmark-text : "
			%i.bi.bi-file-earmark-text
		.col-md-3
			= ".bi.bi-house-door-fill : "
			%i.bi.bi-house-door-fill
		.col-md-3
			= ".bi.bi-x-circle : "
			%i.bi.bi-x-circle
		.col-md-3
			= ".bi.bi-x-square : "
			%i.bi.bi-x-square		
	.row
		.col-md-3
			= ".bi.bi-trash-fill : "
			%i.bi.bi-trash-fill
		.col-md-3
			= ".bi.bi-search	 : "
			%i.bi.bi-search	
		.col-md-3
			= ".bi.bi-file-plus : "
			%i.bi.bi-file-plus	

    .row
      .col-md-1{style: "background-color:#ff00ff"}
        = "Fuchsia"
      .col-md-1{style: "background-color:#8000ff"}
        = "Violet"
      .col-md-1{style: "background-color:#0000ff"}
        = "Blue"
      .col-md-1{style: "background-color:#0080ff"}
        = "Steel"
      .col-md-1{style: "background-color:#00ffff"}
        = "Cyan"
      .col-md-1{style: "background-color:#00ff80"}
        = "Chartreuse"
      .col-md-1{style: "background-color:#00ff00"}
        = "Green"
      .col-md-1{style: "background-color:#80ff00"}
        = "Lime"
      .col-md-1{style: "background-color:#ffff00"}
        = "Yellow"
      .col-md-1{style: "background-color:#ff8000"}
        = "Orange"
      .col-md-1{style: "background-color:#ff0000"}
        = "Red"


:javascript
	$(document).ready(function(){
	})			