%h1 Listing logs

%table
  %thead
    %tr
      %th User
      %th Start at
      %th End at
      %th Notes
      %th
      %th
      %th

  %tbody
    - @logs.each do |log|
      %tr
        %td= log.user
        %td= log.start_at
        %td= log.end_at
        %td= log.notes
        %td= link_to 'Show', log
        %td= link_to 'Edit', edit_log_path(log)
        %td= link_to 'Destroy', log, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Log', new_log_path
