%main.container
  = link_to sanitize("&larr; Back to logs"), logs_path 
  %p#notice= notice

  .header
    %h1 
      = @log.description

  %p
    %b User:
    = @log.user.full_name
  %p
    %b Start at:
    = @log.start_at
  %p
    %b End at:
    = @log.end_at
  %p
    %b Notes:
    = @log.notes


