%p#notice= notice

%p
  %b User:
  = @log.user
%p
  %b Start at:
  = @log.start_at
%p
  %b End at:
  = @log.end_at
%p
  %b Notes:
  = @log.notes

= link_to 'Edit', edit_log_path(@log)
\|
= link_to 'Back', logs_path
